<h1>
<%= @dice%>d<%= @sides%>
</h1>


<a href ="/process_roll?dice=<%=@dice%>&sides=<%=@sides%>%"> Roll again </a>

|

<a href ="/"> Go back home </a>


<ol>
<% @rolls.each do |q| %>
  <li><em>Results:</em><strong> <%= q %></strong></li>
<% end %>
<ol>
